@page
@model TopTenStationInfoModel
@{
  ViewData["Title"] = "Top 10 Stations";
}

<h2>Top-10 Stations</h2>  
@{
   if (@Model.EX != null)
	 {
		 <h3>**ERROR: @Model.EX.Message</h3>
		 <br />
		 <hr />
		 <br />
		 <br />
	 }
}

<table class="table">  
    <thead>  
        <tr>   
            <th>  
                Station Name
            </th>  
						<th>  
                Total Riders
            </th>  
            
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var item in Model.StationList)  
        {  
            <tr>  
                <td>  
                    @item.StationName
                </td> 
								<td>  
                    @item.DailyRiders
                </td> 
                
            </tr>  
        }  
    </tbody>  
</table> 

